<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funkyhippo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>funkyhippo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FunkyHippo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FunkyHippo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FunkyHippo.Models.Album+MovieDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User ID=lgosson@r0sl7142bc;Password=Bacon420" Name="Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User Id=lgosson@r0sl7142bc;Password=Bacon420" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FunkyHippo.Models.Album+MovieDBContext, FunkyHippo" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User ID=lgosson@r0sl7142bc;Password=Bacon420" Name="Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User Id=lgosson@r0sl7142bc;Password=Bacon420" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FunkyHippo.Models.ApplicationDbContext, FunkyHippo" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FunkyHippoContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User ID=lgosson@r0sl7142bc;Password=Bacon420" Name="Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User Id=lgosson@r0sl7142bc;Password=Bacon420" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FunkyHippo.DAL.FunkyHippoContext, FunkyHippo" MigrationConfiguration="FunkyHippo.Migrations.Configuration, FunkyHippo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User Id=lgosson@r0sl7142bc;Password=Bacon420</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FunkyHippo.Models.Album+MovieDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User Id=lgosson@r0sl7142bc;Password=Bacon420</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FunkyHippoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:r0sl7142bc.database.windows.net,1433;Initial Catalog=FunkyHippoDB;User Id=lgosson@r0sl7142bc;Password=Bacon420</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="FunkyHippo.Models.Album+MovieDBContext" />
  </ItemGroup>
</Project>